Repository pwwang/xqute: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker, pytest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: false
exclude: '^README.rst$|^tests/|^setup.py$|^examples/'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
        exclude: 'mkdocs.yml'
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^xqute/.+$
        pass_filenames: false
        entry: flake8
        args: [xqute]
        types: [python]
        language: system
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver xqute/__init__.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|xqute/__init__\.py$
    -   id: pytest
        name: Run pytest
        entry: pytest
        language: system
        args: [tests/]
        pass_filenames: false
        files: ^tests/.+$|xqute/.+\.py$

Add changes
  index.html
Due: none

fix: improve job polling logic to prevent false negatives in job status
  xqute/scheduler.py
Due: flake8, pytest

chore: bump python-simpleconf to 0.9.2
  poetry.lock
Due: none

2.0.8
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

fix: handle exceptions when reading return code file
  xqute/job.py
Due: flake8, pytest

chore: bump up dependencies
  poetry.lock
Due: none

2.0.9
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

chore: migrate from poetry to uv for dep management
  .github/workflows/build.yml
  .github/workflows/docs.yml
  AGENTS.md
  poetry.lock
  pyproject.toml
  uv.lock
Due: versionchecker

fix: update __all__ to include JobStatus and JobErrorStrategy
  xqute/__init__.py
Due: flake8, versionchecker, pytest

2.0.10a1
  pyproject.toml
  uv.lock
  xqute/__init__.py
Due: flake8, versionchecker, pytest

2.0.10
  pyproject.toml
  uv.lock
Due: versionchecker

docs: add CLAUDE.md for project guidance and architecture overview
  CLAUDE.md
Due: none

feat: add job timeout feature with tests
  .gitignore
  tests/test_timeout.py
  xqute/defaults.py
  xqute/scheduler.py
Due: flake8, pytest

fix: handle potential None match in job status retrieval
  xqute/schedulers/gbatch_scheduler.py
Due: flake8, pytest

fix: conditionally set job chdir option if cwd is defined
  xqute/schedulers/slurm_scheduler.py
Due: flake8, pytest

fix: replace print statement with logger for job status check
  xqute/schedulers/ssh_scheduler/scheduler.py
Due: flake8, pytest

fix: replace stdout and stderr reading with communicate for better handling
  tests/test_timeout.py
  xqute/defaults.py
  xqute/scheduler.py
  xqute/schedulers/ssh_scheduler/submitter.py
Due: flake8, pytest

docs: update documentation structure and enhance MkDocs configuration
  README.md
  docs/index.md
  mkdocs.yml
Due: none

2.1.0
  pyproject.toml
  uv.lock
  xqute/__init__.py
Due: flake8, versionchecker, pytest

fix: add space holder file management in case job has stuffed whole disk
  xqute/defaults.py
Due: flake8, pytest

chore: upgrade deps
  uv.lock
Due: none

2.1.1
  xqute/__init__.py
Due: flake8, versionchecker, pytest

chore: bump up dependencies
  uv.lock
Due: none

fix: ensure entrypoint is set for container in GbatchScheduler
  xqute/schedulers/gbatch_scheduler.py
Due: flake8, pytest

docs: update landing page
  .gitignore
  README.md
  docs/favicon.png
  docs/index.md
  docs/logo.png
  docs/style.css
  mkdocs.yml
Due: none

2.1.2
  xqute/__init__.py
Due: flake8, versionchecker, pytest

refactor: replace hardcoded sleep duration with class attribute in LocalScheduler and ContainerScheduler
  tests/test_local_scheduler.py
  xqute/schedulers/container_scheduler.py
  xqute/schedulers/local_scheduler.py
Due: flake8, pytest

refactor: update mounted paths to use NAMED_MOUNTS in ContainerScheduler and GbatchScheduler
  tests/test_container_scheduler.py
  xqute/schedulers/container_scheduler.py
Due: flake8, pytest

refactor: update mounted paths to use NAMED_MOUNTS in GbatchScheduler and related tests
  tests/test_gbatch_scheduler.py
  xqute/defaults.py
  xqute/path.py
  xqute/schedulers/gbatch_scheduler.py
Due: flake8, pytest

refactor: improve container scheduler initialization and error handling for mount and volumes
  tests/test_container_scheduler.py
  xqute/schedulers/container_scheduler.py
Due: flake8, pytest

style: enhance type hints in path and xqute modules for better clarity
  xqute/scheduler.py
  xqute/schedulers/local_scheduler.py
  xqute/xqute.py
Due: flake8, pytest

fix: update environment variables to use mounted paths in Job class
  xqute/job.py
Due: flake8, pytest

docs: update logo image in documentation
  docs/logo.png
Due: none

2.2.0a4
  xqute/__init__.py
Due: flake8, versionchecker, pytest
