Repository pwwang/xqute: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker, pytest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: false
exclude: '^README.rst$|^tests/|^setup.py$|^examples/'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
        exclude: 'mkdocs.yml'
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^xqute/.+$
        pass_filenames: false
        entry: flake8
        args: [xqute]
        types: [python]
        language: system
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver xqute/__init__.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|xqute/__init__\.py$
    -   id: pytest
        name: Run pytest
        entry: pytest
        language: system
        args: [tests/]
        pass_filenames: false
        files: ^tests/.+$|xqute/.+\.py$

feat: add support for --user option in docker mock and ContainerScheduler
  tests/mocks/docker
  xqute/schedulers/container_scheduler.py
Due: flake8, pytest

chore(container_scheduler): enhance error message in job submission to include command details
  xqute/schedulers/container_scheduler.py
Due: flake8, pytest

style: add type ignore comments to suppress type checker warnings in job and path modules
  xqute/job.py
  xqute/path.py
Due: flake8, pytest

Add changes
  index.html
Due: none

feat: enhance working directory (cwd) support across schedulers
  poetry.lock
  tests/mocks/docker
  tests/test_container_scheduler.py
  tests/test_gbatch_scheduler.py
  tests/test_local_scheduler.py
  tests/test_sge_scheduler.py
  tests/test_slurm_scheduler.py
  xqute/scheduler.py
  xqute/schedulers/container_scheduler.py
  xqute/schedulers/gbatch_scheduler.py
  xqute/schedulers/local_scheduler.py
  xqute/schedulers/sge_scheduler.py
  xqute/schedulers/slurm_scheduler.py
  xqute/schedulers/ssh_scheduler/client.py
Due: flake8, pytest

chore: try to rename the job.jid file when removal is needed
  xqute/defaults.py
  xqute/schedulers/gbatch_scheduler.py
Due: flake8, pytest

feat(gbatch_scheduler): add labels for gcloud batch job filtering
  xqute/schedulers/gbatch_scheduler.py
Due: flake8, pytest

tests: add tests for labels in GbatchScheduler
  tests/test_gbatch_scheduler.py
Due: none

0.10.1
  poetry.lock
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

fix(gbatch_scheduler): fix email/user label length limits
  xqute/schedulers/gbatch_scheduler.py
Due: flake8, pytest

0.10.2
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

fix(gbatch_scheduler): update email label handling
  tests/test_gbatch_scheduler.py
  xqute/schedulers/gbatch_scheduler.py
Due: flake8, pytest

0.10.3
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

feat: add recheck_interval and reconnect the loop in case the running resource is preempted
  README.md
  tests/test_container_scheduler.py
  tests/test_xqute.py
  xqute/plugin.py
  xqute/scheduler.py
  xqute/xqute.py
Due: flake8, pytest

0.10.4
  poetry.lock
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

feat: add shortcuts for gbatch scheduler options
  tests/test_gbatch_scheduler.py
  xqute/schedulers/gbatch_scheduler.py
Due: flake8, pytest

chore(deps): bump simplug to 0.5.3
  poetry.lock
Due: none

chore: remove async from sync test functions
  tests/test_gbatch_scheduler.py
Due: none

0.10.5
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

feat: add commands parameter to GbatchScheduler
  tests/test_gbatch_scheduler.py
  xqute/schedulers/gbatch_scheduler.py
Due: flake8, pytest

0.10.6
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

feat: enhance GbatchScheduler with additional runnables support
  tests/test_gbatch_scheduler.py
  xqute/schedulers/gbatch_scheduler.py
Due: flake8, pytest

0.10.7
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

fix: fix job submission in LocalScheduler and ContainerScheduler
  tests/test_container_scheduler.py
  tests/test_local_scheduler.py
  tests/test_xqute.py
  xqute/schedulers/container_scheduler.py
  xqute/schedulers/local_scheduler.py
Due: flake8, pytest

0.10.8
  poetry.lock
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

fix: improve job submission handling in LocalScheduler
  tests/test_xqute.py
  xqute/schedulers/local_scheduler.py
Due: flake8, pytest

0.10.9
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

chore: update dependencies
  poetry.lock
Due: none

feat: add environment variable support for jobs
  tests/test_container_scheduler.py
  tests/test_xqute.py
  xqute/job.py
  xqute/scheduler.py
  xqute/schedulers/container_scheduler.py
  xqute/xqute.py
Due: flake8, pytest

0.10.10
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

feat: support named volumes/mounts for ContainerScheduler
  tests/test_container_scheduler.py
  xqute/schedulers/container_scheduler.py
Due: flake8, pytest

feat: add named mount support in GbatchScheduler
  tests/test_gbatch_scheduler.py
  xqute/schedulers/gbatch_scheduler.py
Due: flake8, pytest

docs: update README for clarity and consistency
  README.md
Due: none
