Repository pwwang/xqute: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker, pytest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: false
exclude: '^README.rst$|^tests/|^setup.py$|^examples/'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
        exclude: 'mkdocs.yml'
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^xqute/.+$
        pass_filenames: false
        entry: flake8
        args: [xqute]
        types: [python]
        language: system
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver xqute/__init__.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|xqute/__init__\.py$
    -   id: pytest
        name: Run pytest
        entry: pytest
        language: system
        args: [tests/]
        pass_filenames: false
        files: ^tests/.+$|xqute/.+\.py$

chore: update content hash in poetry.lock
  poetry.lock
Due: none

test: fix tests for refactoring
  README.md
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/mocks/gcloud
  tests/test_gbatch_scheduler.py
  tests/test_local_scheduler.py
  tests/test_main.py
  tests/test_sge_scheduler.py
  tests/test_slurm_scheduler.py
  tests/test_ssh_scheduler.py
  tests/test_xqute.py
  xqute/__main__.py
  xqute/defaults.py
  xqute/job.py
  xqute/plugin.py
  xqute/scheduler.py
  xqute/schedulers/gbatch_scheduler.py
  xqute/schedulers/local_scheduler.py
  xqute/schedulers/sge_scheduler.py
  xqute/schedulers/slurm_scheduler.py
  xqute/schedulers/ssh_scheduler/scheduler.py
  xqute/utils.py
  xqute/xqute.py
Due: flake8, versionchecker, pytest

feat: add cloud workdir handling and improve error checks in schedulers
  tests/conftest.py
  tests/mocks/gcloud
  tests/test_gbatch_scheduler.py
  tests/test_local_scheduler.py
  tests/test_sge_scheduler.py
  tests/test_slurm_scheduler.py
  xqute/defaults.py
  xqute/job.py
  xqute/scheduler.py
  xqute/schedulers/gbatch_scheduler.py
  xqute/schedulers/sge_scheduler.py
  xqute/schedulers/slurm_scheduler.py
  xqute/schedulers/ssh_scheduler/scheduler.py
  xqute/schedulers/ssh_scheduler/submitter.py
  xqute/utils.py
Due: flake8, pytest

chore: update poetry install command to use gcs extra
  .github/workflows/build.yml
Due: none

chore: add 'gs' extra for google-cloud-storage in poetry configuration
  poetry.lock
  pyproject.toml
Due: versionchecker

0.6.0
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

docs: update README to reflect changes in job parameters and hooks
  README.md
  xqute-design.png
Due: none

ci: limit parallel jobs to 1 in GitHub Actions workflow
  .github/workflows/build.yml
Due: none

refactor: support meta files on cloud for local-like schedulers
  tests/test_gbatch_scheduler.py
  tests/test_local_scheduler.py
  tests/test_sge_scheduler.py
  tests/test_slurm_scheduler.py
  tests/test_ssh_scheduler.py
  tests/test_xqute.py
  xqute/__init__.py
  xqute/defaults.py
  xqute/job.py
  xqute/plugin.py
  xqute/scheduler.py
  xqute/schedulers/__init__.py
  xqute/schedulers/gbatch_scheduler.py
  xqute/schedulers/local_scheduler.py
  xqute/schedulers/sge_scheduler.py
  xqute/schedulers/slurm_scheduler.py
  xqute/schedulers/ssh_scheduler/__init__.py
  xqute/schedulers/ssh_scheduler/client.py
  xqute/schedulers/ssh_scheduler/scheduler.py
  xqute/schedulers/ssh_scheduler/submitter.py
  xqute/utils.py
Due: flake8, versionchecker, pytest

chore: add cloudsh and update poetry dependencies
  .github/workflows/build.yml
  poetry.lock
  pyproject.toml
Due: versionchecker

0.7.0
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

Add changes
  index.html
Due: none

chore: update dependencies in pyproject.toml (simplug to 0.5; argx to 0.3; google-cloud-storage to 3.0)
  poetry.lock
  pyproject.toml
Due: versionchecker

0.7.1
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

feat: allow set job_class to create jobs in schedulers
  poetry.lock
  xqute/scheduler.py
Due: flake8, pytest

0.7.2
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

feat: enhance put method to accept Job instances directly
  tests/test_xqute.py
  xqute/xqute.py
Due: flake8, pytest

0.7.3
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

style: fix type annotations and add py.typed
  xqute/job.py
  xqute/py.typed
  xqute/scheduler.py
  xqute/schedulers/ssh_scheduler/scheduler.py
  xqute/utils.py
  xqute/xqute.py
Due: flake8, pytest

fix: fix job not passed to jobcmd plugin hooks
  xqute/defaults.py
  xqute/scheduler.py
Due: flake8, pytest

0.7.4
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

chore: do not write to stderr file when submission fails
  xqute/schedulers/local_scheduler.py
  xqute/schedulers/ssh_scheduler/scheduler.py
Due: flake8, pytest

fix: remove -e in script wrapper template
  xqute/defaults.py
  xqute/schedulers/local_scheduler.py
  xqute/schedulers/ssh_scheduler/scheduler.py
Due: flake8, pytest

fix: prevent builds from running on tag references
  .github/workflows/build.yml
Due: none

0.7.5
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

fix: disable build dependency for deploy job in GitHub Actions
  .github/workflows/build.yml
Due: none

fix: update job ID assignment in GbatchScheduler and improve job name handling
  xqute/schedulers/gbatch_scheduler.py
Due: flake8, pytest

fix: update job instantiation to use job_class in GbatchScheduler
  xqute/schedulers/gbatch_scheduler.py
Due: flake8, pytest

fix: rename remote_metadir to mounted_metadir for consistency across job handling
  tests/test_gbatch_scheduler.py
  tests/test_local_scheduler.py
  xqute/defaults.py
  xqute/job.py
  xqute/scheduler.py
  xqute/schedulers/gbatch_scheduler.py
Due: flake8, pytest

chore(deps): use yunpath instead of cloudpathlib
  poetry.lock
  pyproject.toml
Due: versionchecker

0.8.0
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

fix: replace cloudpathlib with yunpath for path handling consistency (0.8.0)
  xqute/job.py
  xqute/scheduler.py
  xqute/schedulers/gbatch_scheduler.py
  xqute/schedulers/local_scheduler.py
  xqute/schedulers/ssh_scheduler/scheduler.py
  xqute/utils.py
Due: flake8, pytest

chore: replace rmtree utility function with method calls for path cleanup (0.8.0)
  tests/test_gbatch_scheduler.py
  xqute/job.py
  xqute/utils.py
Due: flake8, pytest

refactor: use DualPath objects for the meta files for jobs to better support cloud files
  poetry.lock
  pyproject.toml
  tests/test_gbatch_scheduler.py
  tests/test_local_scheduler.py
  tests/test_sge_scheduler.py
  tests/test_slurm_scheduler.py
  tests/test_ssh_scheduler.py
  tests/test_utils.py
  xqute/defaults.py
  xqute/job.py
  xqute/scheduler.py
  xqute/schedulers/gbatch_scheduler.py
  xqute/schedulers/local_scheduler.py
  xqute/schedulers/sge_scheduler.py
  xqute/schedulers/slurm_scheduler.py
  xqute/schedulers/ssh_scheduler/scheduler.py
  xqute/utils.py
Due: flake8, versionchecker, pytest

fix: make sure remove_jid_after_done works in all cases for cloud jib files
  xqute/scheduler.py
Due: flake8, pytest

fix: update _Path class to use platform-specific path types for python3.12-
  xqute/utils.py
Due: flake8, pytest

fix: handle exceptions for jid file unlinking on cloud paths
  xqute/scheduler.py
Due: flake8, pytest

fix: update job submission logic to handle mounted script paths and job status checks
  poetry.lock
  xqute/schedulers/gbatch_scheduler.py
  xqute/schedulers/local_scheduler.py
Due: flake8, pytest

chore: add logging policy configuration for job submission stdout/stderr
  xqute/schedulers/gbatch_scheduler.py
Due: flake8, pytest
