Repository pwwang/xqute: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker, pytest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: false
exclude: '^README.rst$|^tests/|^setup.py$|^examples/'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
        exclude: 'mkdocs.yml'
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^xqute/.+$
        pass_filenames: false
        entry: flake8
        args: [xqute]
        types: [python]
        language: system
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver xqute/__init__.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|xqute/__init__\.py$
    -   id: pytest
        name: Run pytest
        entry: pytest
        language: system
        args: [tests/]
        pass_filenames: false
        files: ^tests/.+$|xqute/.+\.py$

0.10.11
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

Add changes
  index.html
Due: none

chore: bump simplug to 0.5.6
  poetry.lock
Due: none

0.10.12
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

feat: implement job failure checks before execution
  poetry.lock
  xqute/scheduler.py
  xqute/schedulers/container_scheduler.py
  xqute/schedulers/gbatch_scheduler.py
  xqute/schedulers/slurm_scheduler.py
Due: flake8, pytest

0.10.13
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

fix: reorder prescript placement in job command wrapper to make sure failure is captured from prescript
  xqute/defaults.py
Due: flake8, pytest

0.10.14
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

chore: include stdout in message when submitting jobs
  xqute/schedulers/gbatch_scheduler.py
  xqute/schedulers/local_scheduler.py
  xqute/schedulers/slurm_scheduler.py
Due: flake8, pytest

chore: update dependencies
  poetry.lock
Due: none

feat: enhance logging for debugging
  xqute/scheduler.py
Due: flake8, pytest

0.10.15
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

chore: bump yunpath version to ^0.1 in pyproject.toml
  poetry.lock
  pyproject.toml
Due: versionchecker

0.10.16
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

chore: update cloudsh version to ^0.2
  poetry.lock
  pyproject.toml
Due: versionchecker

0.10.17
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

feat: add random delay for staggered job submissions and improve documentation
  xqute/xqute.py
Due: flake8, pytest

chore: add backports-asyncio-runner dependency for compatibility with Python <3.11
  poetry.lock
  pyproject.toml
Due: versionchecker

0.10.18
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

feat: implement submission batch configuration for schedulers
  tests/test_gbatch_scheduler.py
  tests/test_local_scheduler.py
  xqute/defaults.py
  xqute/scheduler.py
  xqute/schedulers/container_scheduler.py
  xqute/schedulers/local_scheduler.py
  xqute/schedulers/sge_scheduler.py
  xqute/schedulers/slurm_scheduler.py
  xqute/schedulers/ssh_scheduler/scheduler.py
  xqute/xqute.py
Due: flake8, pytest

test: enhance test_xqute_cloud_workdir with unique workdir generation
  .github/workflows/build.yml
  tests/test_xqute.py
Due: none

0.10.19
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

chore: update build system requirements to use poetry-core
  pyproject.toml
Due: versionchecker

refactor: remove remove_jid_after_done attribute and related logic
  xqute/defaults.py
  xqute/job.py
  xqute/scheduler.py
Due: flake8, pytest
