Repository pwwang/xqute: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker, pytest

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - xqute
  language: system

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); }; v1=`get_ver pyproject.toml`; v2=`get_ver xqute/__init__.py`; if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
  ...

pytest:
  name: Run pytest
  entry: pytest
  language: system
  args:
  - tests/
  pass_filenames: false

feat: add daemon mode for continuous job submission and completion handling
  README.md
  xqute/schedulers/ssh_scheduler/submitter.py
  xqute/xqute.py
Due: flake8, pytest

feat: implement graceful shutdown for consumers with sentinel values
  xqute/xqute.py
Due: flake8, pytest

fix: increase sleep duration when hitting max forks to reduce polling overhead
  xqute/xqute.py
Due: flake8, pytest

feat: add status caching and refresh methods for job status management
  xqute/job.py
  xqute/scheduler.py
Due: flake8, pytest

feat: implement buffer event for improved job queue handling
  xqute/xqute.py
Due: flake8, pytest

feat: enhance job submission with error handling and re-queuing logic
  xqute/xqute.py
Due: flake8, pytest

feat: add lightweight job counting and complete job status checking methods
  xqute/scheduler.py
  xqute/xqute.py
Due: flake8, pytest

feat: centralize job status transitions with transition_job_status method
  xqute/scheduler.py
Due: flake8, pytest

refactor: remove polling_jobs method to streamline job status handling
  xqute/scheduler.py
  xqute/xqute.py
Due: flake8, pytest

ci: update Python version matrix to include 3.13 and remove 3.9
  .github/workflows/build.yml
Due: none

fix: update job status to FINISHED upon completion
  .github/workflows/build.yml
  poetry.lock
  xqute/scheduler.py
Due: flake8, pytest

1.0.0rc1
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

fix: move completion log message to the end of run_until_complete method
  xqute/xqute.py
Due: flake8, pytest

feat: allow environment variable XQUTE_LOG_LEVEL to control logging level
  xqute/defaults.py
  xqute/utils.py
Due: flake8, pytest

1.0.0rc2
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

chore: improve status change handling and logging in Job class
  xqute/job.py
  xqute/scheduler.py
  xqute/schedulers/gbatch_scheduler.py
  xqute/xqute.py
Due: flake8, pytest

fix: enhance producer-consumer model with separate polling task and improved cancellation handling
  xqute/scheduler.py
  xqute/xqute.py
Due: flake8, pytest

style: remove unused import of random module in xqute.py
  xqute/xqute.py
Due: flake8, pytest

fix: update shutdown cancellation method in CancelShutdownPlugin
  tests/test_slurm_scheduler.py
  tests/test_xqute.py
  xqute/scheduler.py
  xqute/xqute.py
Due: flake8, pytest

feat: add sleep intervals for job scheduling and polling in defaults
  xqute/defaults.py
  xqute/schedulers/gbatch_scheduler.py
  xqute/schedulers/ssh_scheduler/scheduler.py
  xqute/xqute.py
Due: flake8, pytest

docs: remove unnecessary hook_done attribute documentation in Job class
  xqute/job.py
Due: flake8, pytest

style: add type ignore comment for retry_dir assignment in Job class
  xqute/job.py
  xqute/schedulers/gbatch_scheduler.py
Due: flake8, pytest

1.0.0rc3
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

feat: add serialization support for MountedPath class with pickle
  tests/test_path.py
  xqute/path.py
Due: flake8, pytest

1.0.0
  poetry.lock
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

feat: update submission_batch defaults across schedulers to 8
  tests/test_gbatch_scheduler.py
  xqute/defaults.py
  xqute/scheduler.py
  xqute/schedulers/container_scheduler.py
  xqute/schedulers/local_scheduler.py
  xqute/schedulers/sge_scheduler.py
  xqute/schedulers/slurm_scheduler.py
  xqute/schedulers/ssh_scheduler/scheduler.py
Due: flake8, pytest

1.0.1
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

refactor: use panpath to replace cloudpathlib
  poetry.lock
  pyproject.toml
  tests/test_path.py
  xqute/path.py
  xqute/scheduler.py
Due: flake8, versionchecker, pytest

refactor: use panpath to replace cloudpathlib and make job meta file io async
  poetry.lock
  pyproject.toml
  tests/test_container_scheduler.py
  tests/test_gbatch_scheduler.py
  tests/test_local_scheduler.py
  tests/test_sge_scheduler.py
  tests/test_slurm_scheduler.py
  tests/test_ssh_scheduler.py
  tests/test_xqute.py
  xqute/job.py
  xqute/scheduler.py
  xqute/schedulers/container_scheduler.py
  xqute/schedulers/gbatch_scheduler.py
  xqute/schedulers/local_scheduler.py
  xqute/schedulers/sge_scheduler.py
  xqute/schedulers/slurm_scheduler.py
  xqute/schedulers/ssh_scheduler/client.py
  xqute/schedulers/ssh_scheduler/scheduler.py
  xqute/xqute.py
Due: flake8, versionchecker, pytest

test: update pytest-xdist dependency and improve pytest options
  poetry.lock
  pyproject.toml
Due: versionchecker

refactor: update LocalScheduler and SshScheduler to improve job handling and add sleep for status updates
  xqute/schedulers/local_scheduler.py
  xqute/schedulers/ssh_scheduler/client.py
  xqute/schedulers/ssh_scheduler/scheduler.py
  xqute/schedulers/ssh_scheduler/submitter.py
Due: flake8, pytest

refactor: replace jid property with get_jid method in Job class and update scheduler calls
  xqute/job.py
  xqute/plugin.py
  xqute/schedulers/gbatch_scheduler.py
  xqute/schedulers/sge_scheduler.py
  xqute/schedulers/slurm_scheduler.py
  xqute/utils.py
Due: flake8, pytest

refactor: update Azure path handling in MountedPath and SpecPath classes
  tests/test_path.py
  xqute/path.py
Due: flake8, pytest

feat: update job command wrapper to enable logging and improve debugging
  xqute/defaults.py
Due: flake8, pytest

refactor: rename put method to feed for consistency in job submission
  README.md
  tests/test_xqute.py
  xqute/xqute.py
Due: flake8, pytest

refactor: streamline job status handling and improve state transition logic
  xqute/defaults.py
  xqute/job.py
  xqute/scheduler.py
  xqute/xqute.py
Due: flake8, pytest

test: update tests for the changes
  tests/test_container_scheduler.py
  tests/test_gbatch_scheduler.py
  tests/test_local_scheduler.py
  tests/test_sge_scheduler.py
  tests/test_slurm_scheduler.py
  tests/test_ssh_scheduler.py
  tests/test_xqute.py
Due: none

chore: bump panpath to 0.4.1
  poetry.lock
Due: none

test: update assertion in test_main to check for stop_feeding call
  tests/test_xqute.py
Due: none

2.0.0rc1
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

Path conditions:
  flake8: any of: ^xqute/.+$ and \.py$ and not (^README.rst$|^tests/|^setup.py$|^examples/)
  versionchecker: any of: ^pyproject\.toml|xqute/__init__\.py$, but not: ^README.rst$|^tests/|^setup.py$|^examples/
  pytest: any of: ^tests/.+$|xqute/.+\.py$, but not: ^README.rst$|^tests/|^setup.py$|^examples/
