Repository pwwang/xqute: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker, pytest

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - xqute
  language: system

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); }; v1=`get_ver pyproject.toml`; v2=`get_ver xqute/__init__.py`; if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
  ...

pytest:
  name: Run pytest
  entry: pytest
  language: system
  args:
  - tests/
  pass_filenames: false

🔧 Don't treat warnings as errors in tests
  pyproject.toml
Due: versionchecker

📌 Pin dep versions
  poetry.lock
  pyproject.toml
Due: versionchecker

🔖 0.1.0
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

👷 Add python 3.10 in CI
  .github/workflows/build.yml
Due: none

⬆️ Pump simplug to 0.2
  poetry.lock
  pyproject.toml
  xqute/plugin.py
Due: flake8, versionchecker, pytest

🔖 0.1.1
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

⬆️ Bump simplug to 0.2.2
  poetry.lock
Due: none

🔖 0.1.2
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

🚨 Exclude type checking imports from code coverage
  tests/test_sge_scheduler.py
  tests/test_xqute.py
  xqute/job.py
  xqute/plugin.py
  xqute/xqute.py
Due: flake8, pytest

🚑 Don't raise error for job submission failure
  tests/test_sge_scheduler.py
  xqute/scheduler.py
Due: flake8, pytest

🔖 0.1.3
  poetry.lock
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

➕ Use aiopath for path operations
  poetry.lock
  pyproject.toml
  xqute/job.py
  xqute/utils.py
Due: flake8, versionchecker, pytest

👷 Use latest actions in CI
  .github/workflows/build.yml
  .github/workflows/docs.yml
Due: none

💚 Fix action version in CI
  .github/workflows/build.yml
  .github/workflows/docs.yml
Due: none

📌 Fix aiopath dep for different python versions
  poetry.lock
  pyproject.toml
Due: versionchecker

⬆️ Update docs deps
  docs/requirements.txt
Due: none

🔖 0.1.4
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

✨ Add `skipped` to on_job_submitted() to indicate whether the submission has been skipped
  pyproject.toml
  tests/test_xqute.py
  xqute/plugin.py
  xqute/scheduler.py
Due: flake8, versionchecker, pytest

♻️ Rename job.uid to job.jid and rename job.lock_file to job.jid_file
  README.md
  tests/mocks/qstat
  tests/test_sge_scheduler.py
  tests/test_xqute.py
  xqute/defaults.py
  xqute/job.py
  xqute/scheduler.py
  xqute/schedulers/local_scheduler.py
  xqute/schedulers/sge_scheduler.py
Due: flake8, pytest

🚨 Cleanup typing annotations
  .gitignore
  README.md
  pyproject.toml
  tests/q.py
  xqute/defaults.py
  xqute/job.py
  xqute/scheduler.py
  xqute/utils.py
  xqute/xqute.py
Due: flake8, versionchecker, pytest

🔥 Remove skipped from plugin.on_job_submitting()
  tests/test_xqute.py
  xqute/plugin.py
Due: flake8, pytest

⬆️ Update deps
  poetry.lock
  pyproject.toml
Due: versionchecker

🔖 0.1.5
  pyproject.toml
  tests/q.py
  xqute/__init__.py
Due: flake8, versionchecker, pytest

⬆️ Bump simplug to 0.3 (drop python3.7)
  poetry.lock
  pyproject.toml
Due: versionchecker

✨ Add slurm scheduler
  tests/mocks/sbatch
  tests/mocks/scancel
  tests/mocks/squeue
  tests/test_slurm_scheduler.py
  xqute/schedulers/slurm_scheduler.py
Due: flake8, pytest

✨ Allow sge options to be prefixed by qsub_ and slurm options to be prefix ed sbatch_
  tests/test_sge_scheduler.py
  tests/test_slurm_scheduler.py
  xqute/schedulers/sge_scheduler.py
  xqute/schedulers/slurm_scheduler.py
Due: flake8, pytest

💚 Fix CI config
  .github/workflows/build.yml
  .github/workflows/docs.yml
Due: none

✨ Add ssh scheduler
  tests/mocks/ssh
  tests/test_slurm_scheduler.py
  tests/test_ssh_scheduler.py
  xqute/schedulers/slurm_scheduler.py
  xqute/schedulers/ssh_scheduler.py
Due: flake8, pytest

🚨 Fix linting issues
  pyproject.toml
  xqute/defaults.py
  xqute/job.py
  xqute/plugin.py
  xqute/scheduler.py
  xqute/schedulers/__init__.py
  xqute/schedulers/local_scheduler.py
  xqute/schedulers/sge_scheduler.py
  xqute/schedulers/slurm_scheduler.py
  xqute/schedulers/ssh_scheduler.py
  xqute/utils.py
  xqute/xqute.py
Due: flake8, versionchecker, pytest

🎨 Use os.killpg instead of psutil for local scheduler
  poetry.lock
  pyproject.toml
  tests/test_xqute.py
  xqute/schedulers/local_scheduler.py
Due: flake8, versionchecker, pytest

🐛 Fix ssh scheduler
  .gitignore
  xqute/scheduler.py
  xqute/schedulers/ssh_scheduler.py
  xqute/schedulers/ssh_scheduler/__init__.py
  xqute/schedulers/ssh_scheduler/client.py
  xqute/schedulers/ssh_scheduler/scheduler.py
  xqute/schedulers/ssh_scheduler/submitter.py
  xqute/utils.py
Due: flake8, pytest

✅ Fix tests for ssh scheduler
  README.md
  tests/mocks/ssh
  tests/test_ssh_scheduler.py
  xqute/schedulers/ssh_scheduler/__init__.py
  xqute/schedulers/ssh_scheduler/client.py
  xqute/utils.py
Due: flake8, pytest

✨ Add loglevel to Xqute to control logging level
  tests/test_xqute.py
  xqute/defaults.py
  xqute/utils.py
  xqute/xqute.py
Due: flake8, pytest

🎨 Use stdout instead of communicate when submitting slurm jobs
  xqute/schedulers/slurm_scheduler.py
Due: flake8, pytest

🚀 Update README for slurm scheduler
  README.md
  xqute/xqute.py
Due: flake8, pytest

🐛 Don't use os.getlogin() for ssh scheduler
  xqute/schedulers/ssh_scheduler/client.py
Due: flake8, pytest

🔖 0.2.0
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

💥 Remove loglevel argument from Xqute (Modify utils.logger directly instead)
  README.md
  tests/__init__.py
  tests/test_xqute.py
  xqute/utils.py
  xqute/xqute.py
Due: flake8, pytest

🔖 0.2.1
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

Fix wrapped script not exit with correct rc
  xqute/defaults.py
Due: flake8, pytest

Path conditions:
  flake8: any of: ^xqute/.+$ and \.py$ and not (^README.rst$|^tests/|^setup.py$|^examples/)
  versionchecker: any of: ^pyproject\.toml|xqute/__init__\.py$, but not: ^README.rst$|^tests/|^setup.py$|^examples/
  pytest: any of: ^tests/.+$|xqute/.+\.py$, but not: ^README.rst$|^tests/|^setup.py$|^examples/
