Repository pwwang/xqute: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker, pytest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: false
exclude: '^README.rst$|^tests/|^setup.py$|^examples/'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
        exclude: 'mkdocs.yml'
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^xqute/.+$
        pass_filenames: false
        entry: flake8
        args: [xqute]
        types: [python]
        language: system
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver xqute/__init__.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|xqute/__init__\.py$
    -   id: pytest
        name: Run pytest
        entry: pytest
        language: system
        args: [tests/]
        pass_filenames: false
        files: ^tests/.+$|xqute/.+\.py$

fix: avoid duplicate job status transition in poller on slow filesystems
  xqute/job.py
Due: flake8, pytest

fix: fail local jobs whose wrapper dies before writing RUNNING
  xqute/schedulers/local_scheduler.py
Due: flake8, pytest

2.2.0a5
  uv.lock
  xqute/__init__.py
Due: flake8, versionchecker, pytest

style: fix pyright/pylance errors
  tests/test_gbatch_scheduler.py
  tests/test_local_scheduler.py
  tests/test_path.py
  tests/test_sge_scheduler.py
  tests/test_slurm_scheduler.py
  tests/test_xqute.py
  xqute/path.py
  xqute/plugin.py
  xqute/scheduler.py
  xqute/xqute.py
Due: flake8, pytest

feat: add volume_as_cwd and mount_as_cwd options to ContainerScheduler and GbatchScheduler
  tests/test_container_scheduler.py
  tests/test_gbatch_scheduler.py
  xqute/schedulers/container_scheduler.py
  xqute/schedulers/gbatch_scheduler.py
Due: flake8, pytest

test: update .coveragerc to include submitter.py in omitted files
  .coveragerc
Due: none

fix: add ctrl_dir to SshScheduler server configuration in tests
  tests/test_ssh_scheduler.py
Due: none

test: add tests for job failure conditions in LocalScheduler
  tests/test_local_scheduler.py
Due: none

2.2.0a6
  xqute/__init__.py
Due: flake8, versionchecker, pytest

fix: use -f flag in mv command to prevent errors when moving files
  xqute/defaults.py
Due: flake8, pytest

chore: update chardet package to version 7.5.0 in uv.lock
  uv.lock
Due: none

feat: add sanitize_mounts function to handle mount path sanitization and validation
  tests/test_utils.py
  xqute/utils.py
Due: flake8, pytest

refactor: refactor GbatchScheduler to support async post-initialization and improve mount handling
  tests/test_gbatch_scheduler.py
  xqute/scheduler.py
  xqute/schedulers/gbatch_scheduler.py
Due: flake8, pytest

feat: update ContainerScheduler to support async initialization and improve volume handling
  tests/test_container_scheduler.py
  tests/test_gbatch_scheduler.py
  tests/test_utils.py
  uv.lock
  xqute/schedulers/container_scheduler.py
  xqute/schedulers/gbatch_scheduler.py
  xqute/utils.py
Due: flake8, pytest

2.2.0a7
  xqute/__init__.py
Due: flake8, versionchecker, pytest

refactor: comment out host existence checks in sanitize_mounts and related tests
  tests/test_container_scheduler.py
  tests/test_utils.py
  xqute/schedulers/container_scheduler.py
  xqute/schedulers/gbatch_scheduler.py
  xqute/utils.py
Due: flake8, pytest

2.2.0a8
  xqute/__init__.py
Due: flake8, versionchecker, pytest

chore: improve error messages for workdir path validation in ContainerScheduler and GbatchScheduler
  xqute/schedulers/container_scheduler.py
  xqute/schedulers/gbatch_scheduler.py
Due: flake8, pytest

docs: update logo size in README for better visibility
  README.md
Due: none

2.2.0a9
  xqute/__init__.py
Due: flake8, versionchecker, pytest

2.2.0
  uv.lock
  xqute/__init__.py
Due: flake8, versionchecker, pytest
