Repository pwwang/xqute: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker, pytest

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - xqute
  language: system

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); }; v1=`get_ver pyproject.toml`; v2=`get_ver xqute/__init__.py`; if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
  ...

pytest:
  name: Run pytest
  entry: pytest
  language: system
  args:
  - tests/
  pass_filenames: false

chore: Update dependencies and add poetry show command
  .github/workflows/build.yml
Due: none

fix: fix real command not run for local scheduler for python < 3.12
  .github/workflows/build.yml
  tests/test_xqute.py
  xqute/defaults.py
  xqute/job.py
  xqute/schedulers/local_scheduler.py
Due: flake8, pytest

fix: create stdout and stderr files when job starts
  xqute/defaults.py
  xqute/scheduler.py
Due: flake8, pytest

chore: do not raise error when failed to kill ssh jobs
  xqute/schedulers/ssh_scheduler/scheduler.py
Due: flake8, pytest

docs: update README.md and examples
  README.md
  xqute/plugin.py
Due: flake8, pytest

0.5.0
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

chore: fix a typo in the job cmd wrapper template
  xqute/defaults.py
Due: flake8, pytest

enh: keep the indentation in the job cmd wrapper template for code from plugins
  tests/test_utils.py
  xqute/job.py
  xqute/utils.py
Due: flake8, pytest

0.5.2
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

fix: fix proc being recycled too soon to start the real job for local_scheduler
  xqute/defaults.py
  xqute/schedulers/local_scheduler.py
Due: flake8, pytest

Add changes
  index.html
Due: none

fix: set a default when no cmd is given for a job
  xqute/job.py
Due: flake8, pytest

0.5.3
  poetry.lock
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

chore(deps): bump up dependencies
  poetry.lock
Due: none

fix: handle immediate job submission failures in local scheduler
  tests/test_local_scheduler.py
  xqute/schedulers/local_scheduler.py
Due: flake8, pytest

0.5.4
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

feat: handle ssh_servers as list or tuple in SshScheduler configuration
  tests/test_ssh_scheduler.py
  xqute/schedulers/ssh_scheduler/scheduler.py
Due: flake8, pytest

0.5.5
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

test: set default fixture loop scope for pytest-asyncio in configuration
  pyproject.toml
Due: versionchecker

fix: improve error handling and messaging in LocalScheduler
  tests/test_local_scheduler.py
  xqute/schedulers/local_scheduler.py
Due: flake8, pytest

feat: enhance SSH job submission with improved error handling and output management
  tests/mocks/ssh
  tests/test_ssh_scheduler.py
  xqute/schedulers/ssh_scheduler/client.py
  xqute/schedulers/ssh_scheduler/scheduler.py
  xqute/schedulers/ssh_scheduler/submitter.py
Due: flake8, pytest

0.5.6
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

fix: improve error messaging for job submission failures in LocalScheduler
  tests/test_local_scheduler.py
  xqute/schedulers/local_scheduler.py
Due: flake8, pytest

chore: add Jupyter notebook to .gitignore
  .gitignore
Due: none

fix: update job submission format and improve error handling in SSH scheduler
  tests/test_ssh_scheduler.py
  xqute/scheduler.py
  xqute/schedulers/ssh_scheduler/client.py
  xqute/schedulers/ssh_scheduler/scheduler.py
  xqute/schedulers/ssh_scheduler/submitter.py
Due: flake8, pytest

0.5.7
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

chore: streamline file cleanup process in Job class
  xqute/job.py
Due: flake8, pytest

fix: fix error when jid file was generated by a different scheduler from previous run for SshScheduler
  xqute/schedulers/ssh_scheduler/scheduler.py
Due: flake8, pytest

fix: correct file path handling in cleanup process of Job class
  xqute/job.py
Due: flake8, pytest

fix: update SSH control master option to 'auto' for improved connection handling
  tests/mocks/ssh
  xqute/schedulers/ssh_scheduler/client.py
Due: flake8, pytest

feat: support set metadir as a fold from the cloud
  .gitignore
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_local_scheduler.py
  tests/test_main.py
  tests/test_sge_scheduler.py
  tests/test_slurm_scheduler.py
  tests/test_ssh_scheduler.py
  tests/test_utils.py
  tests/test_xqute.py
  xqute/__main__.py
  xqute/defaults.py
  xqute/job.py
  xqute/plugin.py
  xqute/scheduler.py
  xqute/schedulers/local_scheduler.py
  xqute/schedulers/sge_scheduler.py
  xqute/schedulers/slurm_scheduler.py
  xqute/schedulers/ssh_scheduler/scheduler.py
  xqute/schedulers/ssh_scheduler/submitter.py
  xqute/utils.py
  xqute/xqute.py
Due: flake8, versionchecker, pytest

chore: update GitHub Actions workflow to remove Python 3.8 and add Google authentication step
  .github/workflows/build.yml
  .gitignore
Due: none

fix: update build workflow to install optional google-cloud-storage dependency and remove Google credentials setup
  .github/workflows/build.yml
  pyproject.toml
  tests/conftest.py
Due: versionchecker

chore: mark several dependencies as optional in poetry.lock
  poetry.lock
Due: none

fix: correct pragma comment for code coverage exclusion in job killing logic
  xqute/scheduler.py
Due: flake8, pytest

feat: add gbatch scheduler
  .github/workflows/build.yml
  README.md
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/mocks/gcloud
  tests/test_gbatch_scheduler.py
  tests/test_ssh_scheduler.py
  tests/test_xqute.py
  xqute/job.py
  xqute/scheduler.py
  xqute/schedulers/gbatch_scheduler.py
  xqute/schedulers/local_scheduler.py
  xqute/schedulers/sge_scheduler.py
  xqute/schedulers/slurm_scheduler.py
  xqute/schedulers/ssh_scheduler/scheduler.py
  xqute/xqute.py
Due: flake8, versionchecker, pytest

Path conditions:
  flake8: any of: ^xqute/.+$ and \.py$ and not (^README.rst$|^tests/|^setup.py$|^examples/)
  versionchecker: any of: ^pyproject\.toml|xqute/__init__\.py$, but not: ^README.rst$|^tests/|^setup.py$|^examples/
  pytest: any of: ^tests/.+$|xqute/.+\.py$, but not: ^README.rst$|^tests/|^setup.py$|^examples/
