Repository pwwang/xqute: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker, pytest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: false
exclude: '^README.rst$|^tests/|^setup.py$|^examples/'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
        exclude: 'mkdocs.yml'
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^xqute/.+$
        pass_filenames: false
        entry: flake8
        args: [xqute]
        types: [python]
        language: system
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver xqute/__init__.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|xqute/__init__\.py$
    -   id: pytest
        name: Run pytest
        entry: pytest
        language: system
        args: [tests/]
        pass_filenames: false
        files: ^tests/.+$|xqute/.+\.py$

chore: add pragma directive to exclude exception handling from coverage
  xqute/schedulers/local_scheduler.py
Due: flake8, pytest

chore: rename _Path class to PathWithSpec for clarity and consistency
  xqute/utils.py
Due: flake8, pytest

chore: add .coveragerc file to configure coverage reporting and omitting specific files
  .coveragerc
Due: none

style: fix type annotations (checked by mypy)
  xqute/schedulers/local_scheduler.py
  xqute/schedulers/ssh_scheduler/scheduler.py
  xqute/utils.py
Due: flake8, pytest

chore: update version to 0.8.0a1
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

refactor: move DualPath class to path module
  tests/test_path.py
  xqute/job.py
  xqute/path.py
  xqute/scheduler.py
  xqute/schedulers/gbatch_scheduler.py
  xqute/utils.py
  xqute/xqute.py
Due: flake8, pytest

chore: update version to 0.8.0a2
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

0.8.0
  README.md
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

Add changes
  index.html
Due: none

test: add test for DualPath with GSClient local cache directory
  poetry.lock
  pyproject.toml
  tests/test_path.py
Due: versionchecker

enh: insert meta_volume at the beginning of taskSpec volumes for gbatch scheduler
  xqute/schedulers/gbatch_scheduler.py
Due: flake8, pytest

0.8.1
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

refactor: replace DualPath with SpecPath in scheduler and job classes
  poetry.lock
  tests/test_path.py
  xqute/job.py
  xqute/path.py
  xqute/scheduler.py
  xqute/schedulers/gbatch_scheduler.py
  xqute/schedulers/local_scheduler.py
  xqute/schedulers/ssh_scheduler/scheduler.py
Due: flake8, pytest

enh: add Python version checks for with_segments method in path classes
  poetry.lock
  tests/test_path.py
  xqute/path.py
Due: flake8, pytest

ci: use python 3.12 as the default python version for the CI
  .github/workflows/build.yml
  .github/workflows/docs.yml
Due: none

0.9.0a1
  poetry.lock
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

0.9.0
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

docs: add docstrings for the path module.
  xqute/path.py
Due: flake8, pytest

chore(deps): update rich dependency to version 14 in pyproject.toml
  poetry.lock
  pyproject.toml
Due: versionchecker

0.9.1
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

feat: support container runnables for gbatch scheduler
  poetry.lock
  tests/test_gbatch_scheduler.py
  xqute/schedulers/gbatch_scheduler.py
Due: flake8, pytest

0.9.2
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

feat: support container command template for GbatchScheduler
  tests/test_gbatch_scheduler.py
  xqute/schedulers/gbatch_scheduler.py
Due: flake8, pytest

0.9.3
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

feat: make MountedPath and SpecPath objects hashable
  tests/test_path.py
  xqute/path.py
Due: flake8, pytest

fix: remove unnecessary sync command, which causes hanging sometimes, from job cleanup in job script wrapper template
  xqute/defaults.py
Due: flake8, pytest

0.9.4
  poetry.lock
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

feat: add ContainerScheduler for running jobs in Docker/Podman/Apptainer containers
  .gitignore
  README.md
  tests/mocks/apptainer
  tests/mocks/docker
  tests/test_container_scheduler.py
  tests/test_sge_scheduler.py
  xqute/schedulers/container_scheduler.py
Due: flake8, pytest

0.10.0
  poetry.lock
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest
