Repository pwwang/xqute: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker, pytest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: false
exclude: '^README.rst$|^tests/|^setup.py$|^examples/'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
        exclude: 'mkdocs.yml'
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^xqute/.+$
        pass_filenames: false
        entry: flake8
        args: [xqute]
        types: [python]
        language: system
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver xqute/__init__.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|xqute/__init__\.py$
    -   id: pytest
        name: Run pytest
        entry: pytest
        language: system
        args: [tests/]
        pass_filenames: false
        files: ^tests/.+$|xqute/.+\.py$

🔖 0.2.2
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

⬆️ Bump simplug to 0.3.1 Remove diot as direct dep, as simplug requires it, too
  poetry.lock
  pyproject.toml
Due: versionchecker

🔖 0.2.3
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

⬆️ Bump simplug to 0.3.2
  poetry.lock
Due: none

🔖 0.2.4
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

Raise error when job submission fails for slurm
  xqute/schedulers/slurm_scheduler.py
Due: flake8, pytest

0.2.5
  poetry.lock
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

feat: support python 3.12
  .github/workflows/build.yml
  poetry.lock
  pyproject.toml
  xqute/defaults.py
Due: flake8, versionchecker, pytest

change: change plugin hook name on_job_running to on_job_started
  xqute/plugin.py
  xqute/scheduler.py
Due: flake8, pytest

feat: add new hook: on_job_polling
  README.md
  tests/test_xqute.py
  xqute/scheduler.py
  xqute/schedulers/slurm_scheduler.py
Due: flake8, pytest

0.3.0
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

change: call on_job_polling only after job started
  xqute/scheduler.py
Due: flake8, pytest

0.3.1
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

deps: bump simplug to 0.4.1 (which uses `+` and `-` to manage plugins_context)
  poetry.lock
  pyproject.toml
  tests/test_xqute.py
  xqute/xqute.py
Due: flake8, versionchecker, pytest

ci: use latest actions
  .github/workflows/build.yml
  .github/workflows/docs.yml
Due: none

0.4.0
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

Add changes
  index.html
Due: none

deps: bump simplug to 0.4.3
  poetry.lock
Due: none

test: add coverage by re-submitting the job
  tests/test_ssh_scheduler.py
Due: none

0.4.1
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

enh: adjust the order in job cmd wrapper template to make sure post script be executed anyway
  xqute/defaults.py
Due: flake8, pytest

tests: cover SSHClient.is_connected
  tests/test_ssh_scheduler.py
Due: none

refactor: optimize wrapping the job command
  tests/test_sge_scheduler.py
  tests/test_slurm_scheduler.py
  tests/test_ssh_scheduler.py
  xqute/defaults.py
  xqute/job.py
  xqute/schedulers/local_scheduler.py
  xqute/schedulers/sge_scheduler.py
  xqute/schedulers/slurm_scheduler.py
  xqute/schedulers/ssh_scheduler/scheduler.py
Due: flake8, pytest

feat: add 3 jobcmd hooks to plugin APIs to allow modifying the wrapped script
  tests/test_xqute.py
  xqute/defaults.py
  xqute/job.py
  xqute/plugin.py
Due: flake8, pytest

style: fix styles
  tox.ini
  xqute/schedulers/local_scheduler.py
  xqute/schedulers/sge_scheduler.py
  xqute/schedulers/slurm_scheduler.py
  xqute/schedulers/ssh_scheduler/client.py
  xqute/schedulers/ssh_scheduler/scheduler.py
Due: flake8, pytest

deps: update pytest and pytest-cov versions
  poetry.lock
  pyproject.toml
Due: versionchecker

ci: update pytest command to include verbose output in test job
  .github/workflows/build.yml
Due: none

test: add verbosal message for ci test
  xqute/schedulers/ssh_scheduler/client.py
Due: flake8, pytest

enh: disconnect ssh client when scheduler is done
  tests/mocks/ssh
  tests/test_ssh_scheduler.py
  xqute/schedulers/ssh_scheduler/client.py
  xqute/schedulers/ssh_scheduler/scheduler.py
Due: flake8, pytest

chore: Update test_job_failed_hook function signature and remove commented out assertions
  tests/test_xqute.py
Due: none

chore: update tests
  tests/test_xqute.py
Due: none

chore: update tests
  xqute/defaults.py
Due: flake8, pytest

chore: update tests
  .github/workflows/build.yml
  xqute/defaults.py
Due: flake8, pytest

chore: update tests
  xqute/defaults.py
  xqute/schedulers/local_scheduler.py
Due: flake8, pytest

chore: update tests
  .github/workflows/build.yml
Due: none

chore: Add trap command to cleanup function
  xqute/defaults.py
Due: flake8, pytest
