Repository pwwang/xqute: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker, pytest

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - xqute
  language: system

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); }; v1=`get_ver pyproject.toml`; v2=`get_ver xqute/__init__.py`; if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
  ...

pytest:
  name: Run pytest
  entry: pytest
  language: system
  args:
  - tests/
  pass_filenames: false

test: ensure cleanup of workdir in test_xqute_cloud_workdir
  tests/test_xqute.py
Due: none

chore: bump panpath to 0.4.2
  poetry.lock
Due: none

fix: fix when metadir is given as cloud path
  tests/test_gbatch_scheduler.py
  tests/test_path.py
  xqute/defaults.py
  xqute/path.py
  xqute/scheduler.py
  xqute/schedulers/container_scheduler.py
  xqute/schedulers/gbatch_scheduler.py
  xqute/schedulers/local_scheduler.py
Due: flake8, pytest

chore: update wrapped job script naming convention for container types
  tests/test_container_scheduler.py
  xqute/schedulers/container_scheduler.py
Due: flake8, pytest

chore: remove debug print statements from SSH job submission
  xqute/schedulers/ssh_scheduler/scheduler.py
Due: flake8, pytest

chore: change logger from debug to info for job status changes; remove duplicate filter
  xqute/job.py
  xqute/utils.py
Due: flake8, pytest

feat: add async get_fspath method to MountedPath and update tests
  tests/test_path.py
  xqute/path.py
Due: flake8, pytest

chore: comment out job log redirection and add TODO for cloud workdir support
  xqute/defaults.py
Due: flake8, pytest

chore: bump panpath to 0.4.4
  poetry.lock
Due: none

2.0.0rc2
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

fix: update job status transition to QUEUED and trigger job queued hook
  tests/test_xqute.py
  xqute/scheduler.py
  xqute/schedulers/ssh_scheduler/scheduler.py
Due: flake8, pytest

chore: comment out unused RETRYING status in JobStatus class documentation
  xqute/defaults.py
  xqute/job.py
Due: flake8, pytest

chore: bump panpath version to 0.4.5 and update associated files
  poetry.lock
Due: none

2.0.0
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

chore: update argx dependency version to ^0.4
  poetry.lock
  pyproject.toml
Due: versionchecker

2.0.1
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

chore: bump panpath to 0.4.7
  poetry.lock
Due: none

2.0.2
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

fix: return SpecPath for configuration file in GbatchScheduler
  xqute/schedulers/gbatch_scheduler.py
Due: flake8, pytest

2.0.3
  poetry.lock
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

Add changes
  index.html
Due: none

feat: add DEFAULT_RECHECK_INTERVAL and update related documentation
  README.md
  xqute/defaults.py
  xqute/scheduler.py
Due: flake8, pytest

chore: change DEFAULT_CLOUD_FSPATH for cloud cache directory from /tmp/xqute_cloud to /tmp/xqute_cloud_cache
  xqute/defaults.py
Due: flake8, pytest

2.0.4
  poetry.lock
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

chore: improve error message for invalid jobname_prefix in GbatchScheduler
  xqute/schedulers/gbatch_scheduler.py
Due: flake8, pytest

ci: add Python 3.13 to the build matrix and update target version in pyproject.toml
  .github/workflows/build.yml
  pyproject.toml
Due: versionchecker

2.0.5
  poetry.lock
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

docs: add AGENTS.md with guidelines for AI coding agents
  AGENTS.md
Due: none

fix: import os and update DEFAULT_CLOUD_FSPATH to include username
  xqute/defaults.py
Due: flake8, pytest

docs: add documentation for Quick Start, Schedulers, and User Guide
  docs/advanced.md
  docs/index.md
  docs/plugins.md
  docs/quickstart.md
  docs/schedulers.md
  docs/style.css
  docs/user-guide.md
  mkdocs.yml
Due: none

2.0.6
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

fix: use await for asynchronous file write in job failure handling
  xqute/scheduler.py
Due: flake8, pytest

chore: update dependencies
  poetry.lock
Due: none

2.0.7
  pyproject.toml
  xqute/__init__.py
Due: flake8, versionchecker, pytest

Path conditions:
  flake8: any of: ^xqute/.+$ and \.py$ and not (^README.rst$|^tests/|^setup.py$|^examples/)
  versionchecker: any of: ^pyproject\.toml|xqute/__init__\.py$, but not: ^README.rst$|^tests/|^setup.py$|^examples/
  pytest: any of: ^tests/.+$|xqute/.+\.py$, but not: ^README.rst$|^tests/|^setup.py$|^examples/
